.background__perfomance{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #2D1555;
}
.MainContainer{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;

    h4 {
        color: #fff;
        padding-bottom: 5px;
    }
}
.HeaderTitle{
    color: #6EF7AD;
    font-size: 90px;
    @media screen and (max-width: 991px){
        font-size: 45px;
    }
}

.buttons-actions {
  position: relative;
  background: #fff;
  color: #FF6597 ;
  outline: none ;
  border: none;
  
  cursor: pointer;

  border-radius: 6px;
  padding: 12px 12px ;

  margin: 0 2px;
  display: inline-block;

  font-weight: 600;
  font-size: 14px;

  transition: background 0.3s cubic-bezier(0.39, 0.58, 0.57, 1), transform  0.3s cubic-bezier(0.39, 0.58, 0.57, 1);

  &:hover {
    background: darken(#2D1555, 2);
  }
}
.buttons-actions.button-result {
  position: relative;
  background: #6FFFB3;
  color: #140048;
  padding: 14px 16px ;
  font-size: 18px ;
  &:hover {
    transform: scale(1.2);
    background: darken(#6FFFB3, 10);
  }
}


.centered_button_wrapper{
  position: relative;
  width: 100% ;
  min-height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.InitButton{
    position: relative;
    outline: none;
    background: none;
    border: 1px solid #FFB800;
    border-radius: 100%;
    font-weight: 600;

    width: 120px;
    height: 120px;

    color: #FFB800;
    
    cursor: pointer;
    box-sizing: border-box;

    transition: all .3s cubic-bezier(0.39, 0.58, 0.57, 1);
    &:hover {
        transform: scale(1.4);
        border-width: 5px;
        color: #fff;
    }
     
}
.perfomance_section{
    position: relative;
    width: 100%;
    min-height: 100vh ;
    .container__perfomance {
        position: relative;
        min-height: 100% ;
        overflow-x: auto;
        overflow-y: scroll;
        padding: 50px 48px ;
    }
 

}

.hidden {
    display: none;    
}
.show {
    display: block;
}

.pointer {
    cursor: pointer;
}



.container_actions{
    position: relative;
    padding: 25px 25px;
    min-height: 200px;
    background: #4700BB;
    background-image: linear-gradient(32deg, rgba(72,44,105,0.50) 0%, rgba(48,7,167,0.50) 83%);
    box-shadow: 0 2px 40px 0 rgba(0,0,0,0.50);
    border-radius: 20px ; 
    .Operation{
        color: #65FFBB;
        margin: 0;
    }
  
    .Action__Items{
        margin-top: 40px;
        position: relative;
        width: 100% ;
        display: flex ;
        height: auto;
    }
   
  
}

.container_table {
    position: relative;
    padding-top: 25px;
    width: 100% ;
    overflow: scroll;
    min-height: 500px;
}


.container__information{
    position: relative;
    width: 100%;
    min-height: 500px;
  
    background: #32164B;
}


.results_card_container{
    position: relative;
    padding: 100px 58px;
}

section.NavyCard {
    position: relative;
    border-radius: 12px ;
    padding: 49px 38px ;
    background: #fff ;
  
    box-shadow: 0 4px 100px rgba(0,0,0,.34);
}
 

  h3.subtitle {
    position: relative;
    color: rgba(18,0,69, .53);
    margin: 0;
    font-size: 20px;
  }
  
  h1.title {
    position: relative;
    color: rgba(9,0,74,1);
    font-size: 42px;
  }
 
  .content{
    position: relative;
    width: 100% ;
    padding: 64px 0px;
  }
  


  .ThreeRowContainer{
    position: relative;
    display: flex ;
    flex-wrap: wrap;
    .col{
        flex: 1 0 30%;
        margin: 5px;
        height: 100%;
    }
  }
 

.subCard {
    position: relative;
    min-height: 118px;
    
    padding: 22px 23px ;
    box-shadow: 0 4px 10px  rgba(6,0,98,.19);
    border-radius: 12px;
    h1 {
        font-size: 24px;
        color: #DA5700;
    }
 
    p {
        position: relative;
        font-size: 14px;
        color: rgba(0,0,0,.67);
        font-weight: 600;
    }
}
