
.MainWrapper, .SecondWrapper{
    position: relative;
    width: auto;
    min-height: 100vh;
    overflow: hidden;
}
.Linear--purple__background{
    padding: var(--main_wrapper_padding);
    background: var(--main_wrapper_background);
}
